:root {
    --dark-color: rgba(0, 0, 0, 0.479);
    --medium-color:gray;
    --light-color:rgba(255, 255, 255, 0.425);

}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    font-family: 'Bebas Neue', cursive;

    font-family: 'Permanent Marker', cursive;
    font-size: 1rem;
    line-height: 1.7;
    color: var(--dark-color);
    padding: 2rem;
}


.header {
    height: 95vh;
    background-image: linear-gradient(to bottom right, var(--light-color), var(--dark-color)), url("../img/pexels-polina-tankilevitch-4522997.jpg");
    background-size: cover;
    background-position: bottom;
    clip-path: polygon(0 1%, 93% 0, 100% 100%, 3% 100%);
}
.text-box {
    position: absolute;
    top: 40%;
    color: white;
    left: 50%;
    transform: translate(-50%, -50%);
}
.heading-primary {
    text-transform: uppercase;
}
.heading-primary-main {
    display: block;
    font-size: 5rem;
    letter-spacing: 0.5rem;
    animation-name: helpme;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;

}
@keyframes helpme {
    0%{
        opacity: 0;
        transform: translateX(-100px);
        transform: translateY(-30px)
    }
    80%{
        transform: translateX(20px);
    }
    100%{
        opacity: 1;
        transform: translateX(0)
        transform: translatey(0)
    }
}
.heading-primary-sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    animation-name: help1;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}
@keyframes help1 {
    0%{
        opacity:0;
        transform: translateX(100px);
        transform: rotateY(100px)
    }
    80%{
        transform: translateX(-20px);
    }
    100%{
        opacity: 1;
        transform: rotateX(0);
        transform: rotateY(0);
        
    }
}
